@using SdvCode.Areas.Administration.ViewModels.DbUsageViewModels.DeleteUsersImages
@{
    ViewData["Title"] = "DbUsage";
}

@model DeleteUsersImagesViewModel

@if (TempData["Success"] != null)
{
    <div class="container-fluid">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Success"]
        </div>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="container-fluid">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Error"]
        </div>
    </div>
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">DB Usage - Delete users images</h1>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Delete user profile and cover images</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-xl-6 col-md-9 mb-4">
                <div class="card border-left-info shadow h-100 py-4">
                    <input asp-for="@Model.DeleteUserImages.Username" class="chosen-value addUserValueForUserInRole" type="text" value="" placeholder="Type to filter" autocomplete="off" required />
                    <ul class="value-list usersListForUserInRole">
                        @foreach (var username in Model.Usernames)
                        {
                            <li id="userForUserInRole">@username</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <button asp-area="Administration" asp-controller="DbUsage" asp-action="DeleteUserImages" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Delete user images</span>
                </button>
            </div>
        </div>
    </form>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Delete all users images</h1>
    </div>
    <form method="post">
        <button asp-area="Administration" asp-controller="DbUsage" asp-action="DeleteAllusersImages" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-check"></i>
            </span>
            <span class="text">Delete all images</span>
        </button>
    </form>
    <hr />
</div>