@page "/SdvShop/Shop"
@namespace SdvCode.Areas.SdvShop
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Shop Center - SdvCode</title>
    <base href="~/" />

    <link rel="icon" href="favicon.ico" type="image/png" />
    <link rel="stylesheet" href="shop/css/bootstrap.css" />
    <link rel="stylesheet" href="shop/vendors/linericon/style.css" />
    <link rel="stylesheet" href="shop/css/font-awesome.min.css" />
    <link rel="stylesheet" href="shop/css/themify-icons.css" />
    <link rel="stylesheet" href="shop/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="shop/vendors/lightbox/simpleLightbox.css" />
    <link rel="stylesheet" href="shop/vendors/nice-select/css/nice-select.css" />
    <link rel="stylesheet" href="shop/vendors/animate-css/animate.css" />
    <link rel="stylesheet" href="shop/vendors/jquery-ui/jquery-ui.css" />

    <link rel="stylesheet" href="shop/css/style.css" />
    <link rel="stylesheet" href="shop/css/responsive.css" />
    <link rel="stylesheet" href="shop/css/loader.css" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="shop/js/jquery-3.2.1.min.js"></script>
    <script src="shop/js/popper.js"></script>
    <script src="shop/js/bootstrap.min.js"></script>
    <script src="shop/js/stellar.js"></script>
    <script src="shop/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="shop/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="shop/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="shop/vendors/isotope/isotope-min.js"></script>
    <script src="shop/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="shop/js/jquery.ajaxchimp.min.js"></script>
    <script src="shop/js/mail-script.js"></script>
    <script src="shop/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="shop/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="shop/vendors/counter-up/jquery.counterup.js"></script>
    <script src="shop/js/theme.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>