<div class="col-lg-4 col-md-6">
    <div class="single-product">
        <div class="product-img">
            <img class="card-img"
                 src="@this.Product.ImageUrl"
                 alt="" />
            <div class="p_icon">
                <a href="#">
                    <i class="ti-eye"></i>
                </a>
                <a @onclick="(() => this.OnRemove.InvokeAsync(this.Product.Id))">
                    <i class="fas fa-heart-broken"></i>
                </a>
                <a @onclick="(() => this.AddProductToBasket(this.Product.Id, 1))">
                    <i class="ti-shopping-cart"></i>
                </a>
            </div>
        </div>
        <div class="product-btm">
            <a href="/SdvShop/Shop/Product/@this.Product.Id" class="d-block">
                <h4>@this.Product.Name</h4>
            </a>
            <div class="mt-3">
                <span class="mr-4">@this.Product.Price</span>
                <del>$35.00</del>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public FavoriteProductViewModel Product { get; set; }

    [Parameter]
    public EventCallback<string> OnRemove { get; set; }

    private async Task AddProductToBasket(string id, int quantity)
    {
        this.ShoppingCartState.AddProduct(id, quantity);
        var oldValue = await this.SessionStorage.GetItemAsync<Dictionary<string, int>>("CodeShop");
        if (oldValue.Any(x => x.Key == id))
        {
            oldValue[id] += quantity;
        }
        else
        {
            oldValue.Add(id, quantity);
        }

        await this.SessionStorage.SetItemAsync("CodeShop", oldValue);
    }
}