<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Favorite Products</h2>
                </div>
                <div class="page_link">
                    <a href="/SdvShop/Shop">Home</a>
                    <a href="/SdvShop/Shop/FavoriteProducts">Favorite Products</a>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}