.uicard {
    text-align: center;
    font-family: veradana, sans-serif;
    position: relative;
    background-color: #2b303b;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 2px 15px 0px #212129;
}

.fon img {
    position: relative;
    border-radius: 5px 5px 0 0;
    position: relative;
    margin: 0 auto;
    width: 300px;
    height: 200px;
}

.user img {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 90px;
    border: 2px solid #fff;
    bottom: 50px;
    overflow: visible;
    z-index: 5;
}

.status-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: 215px;
    right: 110px;
    position: absolute;
    z-index: 6;
}

    .status-circle .tooltipUserStatus {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 50%;
        margin-left: -60px;
    }

        .status-circle .tooltipUserStatus::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }

    .status-circle:hover .tooltipUserStatus {
        visibility: visible;
    }

.status-circle-blog-post {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: 0px;
    right: 35px;
    position: absolute;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circle {
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #0000001a;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

.status-circle-blog-post .tooltipUserStatus {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 110%;
}

    .status-circle-blog-post .tooltipUserStatus::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
    }

.status-circle-blog-post:hover .tooltipUserStatus {
    visibility: visible;
}

.user p {
    font-size: 1.3em;
    color: #fff;
    margin-top: -20px;
}

.socialinfo {
    position: relative;
    margin-top: 45px;
    cursor: pointer;
}

.socialtext1 {
    position: relative;
    float: left;
    color: #fff;
    margin-top: 20px;
    margin-left: 12px;
    border-right: 1px solid #fff;
    padding: 0px 15px 0px 0px;
    transition: 400ms;
}

    .socialtext1:hover {
        color: #ff5577;
        transition: 400ms;
    }

.socialtext2 {
    position: relative;
    color: #fff;
    margin-top: 20px;
    border-right: 1px solid #fff;
    padding: 0px 15px 0px 0px;
    display: inline-block;
    transition: 400ms;
}

    .socialtext2:hover {
        color: #ff5577;
        transition: 400ms;
    }

.socialtext3 {
    position: relative;
    color: #fff;
    float: right;
    margin-top: 20px;
    margin-right: 12px;
    display: inline-block;
    transition: 400ms;
}

    .socialtext3:hover {
        color: #ff5577;
        transition: 400ms;
    }

.allUsersUsername:hover {
    color: azure;
}