.deleteNotificationIcon {
    color: red;
}

    .deleteNotificationIcon:hover {
        color: black;
    }

.notificationStatusArrow {
    color: Highlight;
}

    .notificationStatusArrow:hover {
        color: black;
    }