<header class="header_area">
    <div class="main_menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <a class="navbar-brand logo_h" href="index.html">
                    <img src="img/logo.png" alt="" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset w-100"
                     id="navbarSupportedContent">
                    <div class="row w-100 mr-0">
                        <div class="col-lg-7 pr-0">
                            <ul class="nav navbar-nav center_nav pull-right">
                                <li class="nav-item">
                                    <NavLink href="/Home" class="nav-link">Home</NavLink>
                                </li>
                                <li class="nav-item active submenu dropdown">
                                    <NavLink href="/SdvShop/Shop" class="nav-link">Shop</NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/Blog" class="nav-link">Blog</NavLink>
                                </li>
                                <li class="nav-item">
                                    <NavLink href="/Contact" class="nav-link">Contact</NavLink>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-5 pr-0">
                            <ul class="nav navbar-nav navbar-right right_nav pull-right">
                                <LoginDisplay />
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>