.deleteNotificationIcon {
    color: red;
}

.notificationArrow:hover {
    color: black;
}

.deleteNotificationIcon:hover {
    color: black;
}

.dropbtnNotification {
    background-color: transparent;
    color: green;
    border: none;
}

.dropdownNotification {
    position: relative;
}

.dropdown-content-notification {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: initial;
}

    .dropdown-content-notification a {
        color: black;
        padding: 6px 10px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content-notification a:hover {
            background-color: #ddd;
        }

.dropdownNotification:hover .dropdown-content-notification {
    display: block;
}

.dropdownNotification:hover .dropbtnNotification {
    background-color: transparent;
}