@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div id="banner-area">
    <img src="~/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>@User.Identity.Name Profile Settings</h2>
            <ul class="breadcrumb">
                <partial name="_ManageNav" />
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="row container">
        @ViewData["Title"]
    </h1>
    <hr />
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <form id="change-password-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group col-md-5">
                <button type="submit" class="btn btn-primary">Update password</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}