@page
@using SdvCode.Models.Enums
@model IndexModel
@{
    ViewData["Title"] = "Manage Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "/Areas/Identity/Pages/Account/Manage/_Layout.cshtml";
}
<partial name="_StatusMessage" model="Model.StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <h2 class="headerSwitch container">Biography</h2>
        <div class="form-group col-md-12">
            <label asp-for="Input.AboutMe"></label>
            <textarea asp-for="Input.AboutMe" class="form-control" style="resize: vertical" rows="6"></textarea>
            <span asp-for="Input.AboutMe" class="text-danger"></span>
        </div>
    </div>
    <hr />

    <div class="row">
        <h2 class="headerSwitch container">Identity</h2>
        <div class="form-group col-md-4">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" disabled />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" disabled />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.RegisteredOn"></label>
            <input asp-for="Input.RegisteredOn" class="form-control" disabled />
        </div>
    </div>
    <hr />

    <div class="row">
        <h2 class="headerSwitch container">Inicials</h2>
        <div class="form-group col-md-4">
            <label asp-for="Input.FirstName"></label>
            <input asp-for="Input.FirstName" class="form-control" />
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.LastName"></label>
            <input asp-for="Input.LastName" class="form-control" />
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.BirthDate"></label>
            <input type="date" asp-for="Input.BirthDate" class="form-control">
            <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.Country"></label>
            <input asp-for="Input.Country" class="form-control" />
            <span asp-validation-for="Input.Country" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.City"></label>
            <input asp-for="Input.City" class="form-control" />
            <span asp-validation-for="Input.City" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.Gender"></label>
            <select class="form-control" asp-for="Input.Gender" asp-items="@Html.GetEnumSelectList<Gender>()"></select>
        </div>
    </div>
    <hr />

    <div class="row">
        <h2 class="headerSwitch container">Contacts and Social Media</h2>
        <div class="form-group col-md-4">
            <label asp-for="Input.CountryCode"></label>
            <select class="form-control" asp-for="Input.CountryCode" id="countryCodeDrop" onchange="enablePhone()">
                <option value="">Select Country Code...</option>
                @foreach (var code in @Html.GetEnumSelectList<CountryCode>())
                {
                    <option value=@code.Value>@code.Text</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.PhoneNumber"></label>
            <input asp-for="Input.PhoneNumber" class="form-control" id="profilePhoneNumber" disabled />
            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.GitHubUrl"></label>
            <input asp-for="Input.GitHubUrl" class="form-control" />
            <span asp-validation-for="Input.GitHubUrl" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.StackoverflowUrl"></label>
            <input asp-for="Input.StackoverflowUrl" class="form-control" />
            <span asp-validation-for="Input.StackoverflowUrl" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.FacebookUrl"></label>
            <input asp-for="Input.FacebookUrl" class="form-control" />
            <span asp-validation-for="Input.FacebookUrl" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.LinkedinUrl"></label>
            <input asp-for="Input.LinkedinUrl" class="form-control" />
            <span asp-validation-for="Input.LinkedinUrl" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.TwitterUrl"></label>
            <input asp-for="Input.TwitterUrl" class="form-control" />
            <span asp-validation-for="Input.TwitterUrl" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.InstagramUrl"></label>
            <input asp-for="Input.InstagramUrl" class="form-control" />
            <span asp-validation-for="Input.InstagramUrl" class="text-danger"></span>
        </div>
    </div>
    <hr />

    <div class="row">
        <h2 class="headerSwitch container">Profile Identity</h2>
        <div class="form-group col-md-4">
            <label asp-for="Input.ProfilePicture"></label>
            <div class="file-upload" id="chooseProfileImage">
                <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noProfileFile">No file chosen...</div>
                    <input type="file" asp-for="Input.ProfilePicture" id="chooseProfileFile" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Input.CoverImage"></label>
            <div class="file-upload" id="chooseCoverImage">
                <div class="file-select">
                    <div class="file-select-button" id="fileName">Choose File</div>
                    <div class="file-select-name" id="noCoverFile">No file chosen...</div>
                    <input type="file" asp-for="Input.CoverImage" id="chooseCoverFile" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="form-group col-md-5">
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}