@{
    ViewData["Title"] = "Emojis addons";
}

@model DeleteEmojisByTypeInputModel

<partial name="_TempDataPartial" />

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Emojis Addons - Delete existing emojis by type</h1>
    </div>
    <hr />

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h5 mb-0 text-gray-800">Delete existing emojis by type</h1>
    </div>
    <form method="post">
        <div class="row">
            <div class="col-xl-12 col-md-12 mb-4">
                <label asp-for="@this.Model.EmojiType"></label>
                <select class="form-control" asp-for="@this.Model.EmojiType" asp-items="Html.GetEnumSelectList<EmojiType>()">
                    <option disabled selected>Select emoji type...</option>
                </select>
                <span class="text-danger" asp-validation-for="@this.Model.EmojiType"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <button asp-area="Administration" asp-controller="DeleteEmojisByType" asp-action="DeleteEmojisByType" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash-alt"></i>
                    </span>
                    <span class="text">Delete Emojis</span>
                </button>
            </div>
        </div>
    </form>
    <hr />
</div>
<input type="hidden" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}