@if (this.viewModel != null)
{
    <div class="col-lg-6">
        <div class="review_box">
            <h4>Post a comment</h4>
            <form class="row contact_form">
                <div class="col-md-12">
                    <div class="form-group">
                        <input @bind="this.viewModel.FullName" type="text" class="form-control" placeholder="Your Name" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input @bind="this.viewModel.Email" type="email" class="form-control" placeholder="Email Address" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input @bind="this.viewModel.PhoneNumber" type="text" class="form-control" placeholder="Phone Number" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea @bind="viewModel.Content" class="form-control" rows="8" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <button @onclick="this.CreateComment" value="submit" class="btn submit_btn">
                        Submit Now
                    </button>
                </div>
            </form>
        </div>
    </div>
}
@code {
    [Parameter]
    public string ProductId { get; set; }

    private AddCommentViewModel viewModel;

    protected override async Task OnInitializedAsync()
    {
        viewModel = await this.CommentService.ExtractCommentInformation(this.HttpContextAccessor.HttpContext.User.Identity.Name);
    }

    private async Task CreateComment()
    {
        var comment = new AddCommentInputModel
        {
            Content = this.viewModel.Content,
            Email = this.viewModel.Email,
            UserFullName = this.viewModel.FullName,
            PhoneNumber = this.viewModel.PhoneNumber,
            ProductId = this.ProductId,
            Username = this.HttpContextAccessor.HttpContext.User.Identity.Name,
        };

        //var json = JsonConvert.SerializeObject(comment, Formatting.None);
        //var stringContent = new StringContent(json, System.Text.Encoding.UTF8, "application/json");

        await this.HttpClient.PostJsonAsync("api/CommentApi/AddComment", comment);
    }
}