<div class="tab-pane fade"
     id="contact"
     role="tabpanel"
     aria-labelledby="contact-tab">
    <div class="row">
        <div class="col-lg-6">
            <div class="comment_list">
                <div class="review_item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/product/single-product/review-1.png"
                                 alt="" />
                        </div>
                        <div class="media-body">
                            <h4>Blake Ruiz</h4>
                            <h5>12th Feb, 2017 at 05:56 pm</h5>
                            <a class="reply_btn" href="#">Reply</a>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                </div>
                <div class="review_item reply">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/product/single-product/review-2.png"
                                 alt="" />
                        </div>
                        <div class="media-body">
                            <h4>Blake Ruiz</h4>
                            <h5>12th Feb, 2017 at 05:56 pm</h5>
                            <a class="reply_btn" href="#">Reply</a>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                </div>
                <div class="review_item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/product/single-product/review-3.png"
                                 alt="" />
                        </div>
                        <div class="media-body">
                            <h4>Blake Ruiz</h4>
                            <h5>12th Feb, 2017 at 05:56 pm</h5>
                            <a class="reply_btn" href="#">Reply</a>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                </div>
            </div>
        </div>
        <AddComment></AddComment>
    </div>
</div>
@code {

}