<div class="tab-pane fade"
     id="contact"
     role="tabpanel"
     aria-labelledby="contact-tab">
    <div class="row">
        <div class="col-lg-6">
            <div class="comment_list">
                <div class="review_item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/product/single-product/review-1.png"
                                 alt="" />
                        </div>
                        <div class="media-body">
                            <h4>Blake Ruiz</h4>
                            <h5>12th Feb, 2017 at 05:56 pm</h5>
                            <a class="reply_btn" href="#">Reply</a>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                </div>
                <div class="review_item reply">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/product/single-product/review-2.png"
                                 alt="" />
                        </div>
                        <div class="media-body">
                            <h4>Blake Ruiz</h4>
                            <h5>12th Feb, 2017 at 05:56 pm</h5>
                            <a class="reply_btn" href="#">Reply</a>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                </div>
                <div class="review_item">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/product/single-product/review-3.png"
                                 alt="" />
                        </div>
                        <div class="media-body">
                            <h4>Blake Ruiz</h4>
                            <h5>12th Feb, 2017 at 05:56 pm</h5>
                            <a class="reply_btn" href="#">Reply</a>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo
                    </p>
                </div>
            </div>
        </div>
        @if (this.userInfo != null)
        {
            <div class="col-lg-6">
                <div class="review_box">
                    <h4>Post a comment</h4>
                    <form class="row contact_form" method="post" id="contactForm" novalidate="novalidate">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input value="@this.userInfo.FullName" type="text" class="form-control" id="name" name="name" placeholder="Your Name" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input value="@this.userInfo.Email" type="email" class="form-control" id="email" name="email" placeholder="Email Address" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input value="@this.userInfo.PhoneNumber" type="text" class="form-control" id="number" name="number" placeholder="Phone Number" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" name="message" id="message" rows="8" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="submit" value="submit" class="btn submit_btn">
                                Submit Now
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>
@code {
    private UserViewModelForComment userInfo;

    protected override async Task OnInitializedAsync()
    {
        userInfo = await this.CommentService.ExtractUserInformation(this.HttpContextAccessor.HttpContext.User.Identity.Name);
    }
}