@if (this.Products?.Count != 0)
{
    <div class="cart_inner">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in this.Products)
                    {
                        <TrackProductCard Product="product">
                        </TrackProductCard>
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td>
                            <h5>@this.Products.Sum(x => x.TotalProductPrice).ToString("F2")</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="container">
        <h3>No order with that Order ID and Email</h3>
    </div>
}

@code {
    [Parameter]
    public ICollection<ProductInCartViewModel> Products { get; set; } = new List<ProductInCartViewModel>();

}