.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchButton {
    width: 40px;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 100%;
}