@using SdvCode.Models.User
@using Microsoft.AspNetCore.Identity
@using SdvCode.Areas.Administration.Models.Enums
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var currentUser = UserManager.FindByNameAsync(User.Identity.Name);
}

@if (SignInManager.IsSignedIn(User) && currentUser.Result.IsBlocked == false && currentUser != null)
{
    @if (User.IsInRole(Roles.Administrator.ToString()) || User.IsInRole(Roles.Author.ToString()) || User.IsInRole(Roles.Contributor.ToString()) || User.IsInRole(Roles.Editor.ToString()))
    {
        <li><a asp-area="" asp-controller="Blog" asp-action="CreatePost" class="btn btn-primary solid square">Create Post</a></li>
    }
}