.savedReplies-span {
    overflow-y: auto;
    max-height: 140px;
    overflow-x: hidden;
    text-align: center;
}

.chat-savedReplies-tooltip-image {
    visibility: hidden;
    width: 329px;
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: black;
    top: 140%;
    left: -352%;
    border-radius: 6px;
}

.savedReplies-span::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 94px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.savedReplies-icon .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.savedReplies-span::-webkit-scrollbar {
    width: 4px;
}

.savedReplies-span::-webkit-scrollbar-track {
    background: transparent;
}

.savedReplies-span::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-clip: padding-box;
    background: #888;
}

.savedReplies-badge {
    font-size: 12px;
    background-color: white;
    color: black;
    border-radius: 6px;
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px 30px 4px 4px;
    text-shadow: none;
}

.savedReplies-frame {
    position: relative;
}

.savedReplies-badge:hover {
    font-size: 12px;
    background-color: lightgray;
    color: black;
    padding: 4px;
    padding: 4px 30px 4px 4px;
    font-weight: bold;
    cursor: pointer;
}

.delete-savedRelies-icon {
    position: absolute;
    top: 4px;
    right: 13px;
    font-size: 15px;
    background-color: red;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
}

    .delete-savedRelies-icon:hover {
        color: red;
        background-color: darkgray;
    }

.quick-replies-badge {
    position: absolute;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 7px;
    left: 1.5px;
    top: -1px;
    text-shadow: none;
    width: 11px;
    height: 11px;
}

.quick-replies-add-badge {
    visibility: hidden;
    background-color: green;
    position: absolute;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    color: white;
    left: 22px;
    text-align: center;
    cursor: pointer;
    top: 50%;
    transform: translate(0%,-50%);
    z-index: 2;
}

    .quick-replies-add-badge:hover {
        background-color: limegreen;
        color: white;
    }

    .quick-replies-add-badge i {
        display: block;
        height: 100%;
        width: 100%;
        margin-top: 5px;
    }

.quickRepliesSearchTab {
    border-bottom: 1.8px solid slategray;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 10px 18px -8px #8888FE;
    position: relative;
}

.quick-replies-search-input {
    height: 25px;
    border-radius: 6px;
    padding: 10px;
}