.privateChat {
    margin-top: 20px;
}

.nano-content::-webkit-scrollbar {
    width: 10px;
}

.nano-content::-webkit-scrollbar-track {
    background: #f1f1f1
}

.nano-content::-webkit-scrollbar-thumb {
    background: #888;
}

.panel {
    border: 3px solid black;
    margin-bottom: 24px;
}

.panel-heading {
    position: relative;
    height: 50px;
    padding: 0;
    border-bottom: 1px solid #eee;
}

.panel-chat-footer {
    padding: 10px 15px;
    background-color: rgba(245,245,245, 0.4);
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-control {
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px;
}

.panel-title {
    font-weight: normal;
    padding: 0 20px 0 20px;
    line-height: 58px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    -webkit-text-stroke: 1px black;
}

.panel-control > .btn:last-child, .panel-control > .btn-group:last-child > .btn:first-child {
    border-bottom-right-radius: 0;
}

.nano {
    position: relative;
    width: 100%;
    height: 500px;
}

    .nano > .nano-content {
        position: absolute;
        overflow: scroll;
        overflow-x: hidden;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

.pad-all {
    padding: 15px;
}

.mar-btm {
    margin-bottom: 15px;
}

.media-block .media-left {
    display: block;
    float: left;
}

.img-sm {
    width: 46px;
    height: 46px;
}

.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}

.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}

.speech {
    position: relative;
    background: #b7dcfe;
    color: #317787;
    display: inline-block;
    border-radius: 0;
    padding: 12px 20px;
    border-radius: 15px;
}

    .speech:before {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #b7dcfe;
        margin: 15px 0 0 -6px;
    }

.speech-right > .speech:before {
    left: auto;
    right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #ffdc91;
    border-right: 0;
    margin: 15px -6px 0 0;
}

.speech .media-heading {
    font-size: 1em;
    color: #317787;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*margin-bottom: 10px;
    padding-bottom: 5px;*/
    font-weight: 300;
    text-transform: uppercase;
    font-weight: bolder;
}

    .speech .media-heading:hover {
        color: white;
    }

.speech-time {
    margin-top: -5px;
    margin-bottom: 0;
    font-size: .7em;
    /*font-weight: 300;*/
}

.media-block .media-right {
    float: right;
}

.speech-right {
    text-align: right;
}

.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}

.speech-right > .speech {
    background: #ffda87;
    color: #a07617;
    text-align: right;
    max-width: 500px;
    border-radius: 15px;
}

    .speech-right > .speech .media-heading {
        color: #a07617;
    }

        .speech-right > .speech .media-heading:hover {
            color: white;
        }

.form-control {
    font-size: 11px;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
}

.nano > .nano-pane {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .7s;
    transition: all .7s;
}

.chat-input {
    padding-right: 35px;
    padding-left: 10px;
    height: auto !important;
    border: 1px solid #808080;
    line-height: 33px;
    -webkit-appearance: textfield;
    overflow-y: scroll;
    max-height: 51px;
    overflow-x: hidden;
    background: #f1f1f1;
    border-radius: 6px;
}

    .chat-input::-webkit-scrollbar {
        width: 4px;
    }

    .chat-input::-webkit-scrollbar-track {
        background: transparent;
    }

    .chat-input::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-clip: padding-box;
        background: #888;
    }

.chat-action-icon {
    font-size: 1.4em;
    color: floralwhite;
    position: relative;
    display: inline-block;
    text-shadow: 0 0 3px black;
    padding-right: 10px;
}

    .chat-action-icon:hover {
        color: cornflowerblue;
    }

.input-image-box {
    display: none;
}

.input-file-box {
    display: none;
}

.select-image-badge {
    height: 17px;
    width: 17px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 130px;
    text-align: center;
    font-size: 10px;
    line-height: 17.5px;
    color: white;
    font-weight: bold;
}

.select-file-badge {
    height: 17px;
    width: 17px;
    background-color: deepskyblue;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 160px;
    text-align: center;
    font-size: 10px;
    line-height: 17.5px;
    color: white;
    font-weight: bold;
}

@keyframes pulse-green {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
}

.modalChatImage {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modalText:hover {
    color: dodgerblue;
}
/* Modal Content (image) */
.imageModalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    position: relative
}

/* Caption of Modal Image */
.myCaption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.imageModalContent, .myCaption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.closeImage {
    position: absolute;
    right: 10px;
    top: 10px;
    float: right;
    color: red;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1;
}

    .closeImage:hover,
    .closeImage:focus {
        color: blue;
        text-decoration: none;
        cursor: pointer;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 100%) {
    .imageModalContent {
        width: 100%;
    }
}

#imageSpinner {
    display: none;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 129px;
    top: 13px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

#fileSpinner {
    display: none;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #B6290B;
    width: 19px;
    height: 19px;
    position: absolute;
    left: 159px;
    top: 13px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.jumping-dot-1 {
    height: 7px;
    width: 7px;
    background-color: #989898;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -3px;
}

.jumping-dot-2 {
    height: 7px;
    width: 7px;
    background-color: #A9A9A9;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -3px;
}

.jumping-dot-3 {
    height: 7px;
    width: 7px;
    background-color: #BEBEBE;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: -3px;
}

.jumping-dots span {
    position: relative;
    bottom: 0px;
    -webkit-animation: jump 1500ms infinite;
    animation: jump 2s infinite;
}

.jumping-dots .jumping-dot-1 {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
}

.jumping-dots .jumping-dot-2 {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}

.jumping-dots .jumping-dot-3 {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
}

@-webkit-keyframes jump {
    0% {
        bottom: 0px;
    }

    20% {
        bottom: 5px;
    }

    40% {
        bottom: 0px;
    }
}

@keyframes jump {
    0% {
        bottom: 0px;
    }

    20% {
        bottom: 5px;
    }

    40% {
        bottom: 0px;
    }
}

.back-to-bottom-chat-body {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 16px;
    color: white;
    background-color: darkgray;
    border-radius: 50%;
    bottom: 10px;
    right: 20px;
    z-index: 1;
    width: 30px;
    height: 30px;
    text-align: center;
}

    .back-to-bottom-chat-body:hover {
        background-color: white;
        color: darkgray;
    }

    .back-to-bottom-chat-body i {
        padding-top: 3px;
    }