@{
    ViewData["Title"] = "Private Chat";
}
@model SdvCode.ViewModels.PrivateChat.PrivateChatViewModel
<div id="banner-area">
    <img src="~/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Private Chat</h2>
            <ul class="breadcrumb">
                <li>Home</li>
                <li><a> Private Chat</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container privateChat">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <!--Heading-->
                <div class="panel-heading">
                    <h3 class="panel-title" style="float: left" id="toUser">@Model.ToUser.UserName</h3>
                    <h3 class="panel-title" style="float: right" id="fromUser">@Model.FromUser.UserName</h3>
                </div>
                <div class="nano">
                    <div id="demo-chat-body" class="nano-content pad-all" tabindex="0">
                        <ul class="list-unstyled media-block" id="messagesList">
                            @*Here Goose your messages*@
                        </ul>
                    </div>
                    <div class="nano-pane"><div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div></div>
                </div>

                <!--Widget footer-->
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-10">
                            <input type="text" placeholder="Enter your text" class="form-control chat-input" id="messageInput">
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-info btn-block" type="submit" id="sendButton">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>