@page
@model VerifyPhoneModel
@{
    ViewData["Title"] = "Verify Phone number";
}
<div id="banner-area">
    <img src="~/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Verify Phone Number</h2>
            <ul class="breadcrumb">
                <li>Home</li>
                <li><a asp-area="Identity" asp-page="/Account/VerifyPhone"> Verify Phone</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h4>@ViewData["Title"]</h4>
    <div class="row">
        <div class="col-md-8">
            <form method="post">
                <p>
                    We will verify your phone number by sending a code to @Model.PhoneNumber.
                </p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Send verification code</button>
                </div>
            </form>
        </div>
    </div>
</div>