@implements IDisposable

<AuthorizeView>
    <Authorized>
        <li class="nav-item">
            <a href="#" class="icons">
                <i class="ti-search" aria-hidden="true"></i>
            </a>
        </li>

        <li class="nav-item">
            <a href="/SdvShop/Shop/ShoppingCart" class="icons">
                <i class="ti-shopping-cart">@this.ShoppingCartState.ShoppingCart.Count</i>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Profile/@context.User.Identity.Name" class="icons">
                <i class="ti-user" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="icons">
                <i class="ti-heart" aria-hidden="true"></i>
            </a>
        </li>
    </Authorized>
    <NotAuthorized>
        <li class="nav-item">
            <a href="#" class="icons">
                <i class="ti-search" aria-hidden="true"></i>
            </a>
        </li>

        <li class="nav-item">
            <a href="/SdvShop/Shop/ShoppingCart" class="icons">
                <i class="ti-shopping-cart">@this.ShoppingCartState.ShoppingCart.Count</i>
            </a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var items = await this.SessionStorage.GetItemAsync<Dictionary<string, int>>("CodeShop");
            if (items?.Count == null)
            {
                await this.SessionStorage.SetItemAsync("CodeShop", new Dictionary<string, int>());
            }
            else
            {
                items = await this.ShoppingCartState.UpdateSession(items);
                await this.SessionStorage.SetItemAsync("CodeShop", items);
            }
        }
    }

    protected override void OnInitialized()
    {
        this.ShoppingCartState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        this.ShoppingCartState.OnChange -= StateHasChanged;
    }
}