.savedReplies-span {
    overflow-y: auto;
    max-height: 140px;
    overflow-x: hidden;
    background-color: black;
    border-radius: 6px;
    text-align: center;
}

.chat-savedReplies-tooltip-image {
    visibility: hidden;
    width: 329px;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: -352%;
}

.savedReplies-span::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 94px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.savedReplies-icon .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.savedReplies-span::-webkit-scrollbar {
    width: 4px;
}

.savedReplies-span::-webkit-scrollbar-track {
    background: transparent;
}

.savedReplies-span::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-clip: padding-box;
    background: #888;
}

.savedReplies-badge {
    font-size: 12px;
    background-color: white;
    color: black;
    border-radius: 6px;
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px 30px 4px 4px;
    text-shadow: none;
}

.savedReplies-frame {
    position: relative;
}

.savedReplies-badge:hover {
    font-size: 15px;
    background-color: lightgray;
    color: black;
    padding: 4px;
    padding: 4px 30px 4px 4px;
    font-weight: bold;
}

.delete-savedRelies-icon {
    position: absolute;
    top: 4px;
    right: 13px;
    font-size: 15px;
    background-color: red;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
}

    .delete-savedRelies-icon:hover {
        color: red;
        background-color: darkgray;
    }