.theme-span {
    overflow-y: auto;
    max-height: 140px;
    overflow-x: hidden;
    background-color: black;
    border-radius: 6px;
    text-align: center;
    padding: 5px 0;
}

.chat-theme-tooltip-image {
    visibility: hidden;
    width: 58px;
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: -70%;
}

.theme-span::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 43%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.themes-icon .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.theme-span::-webkit-scrollbar {
    width: 4px;
}

.theme-span::-webkit-scrollbar-track {
    background: transparent;
}

.theme-span::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-clip: padding-box;
    background: #888;
}

.theme-image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: 50% 50%;
    border: 2px solid white;
    margin-bottom: 5px;
}

    .theme-image img:hover {
        width: 43px;
        height: 43px;
    }

.select-theme-badge {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 24px;
}

.theme-image:hover .select-theme-badge {
    top: 23px;
    left: 27px;
}

.select-theme-badge i {
    text-align: center;
    font-size: 10px;
    vertical-align: super;
}