.chat-theme-tooltip-image {
    visibility: hidden;
    width: 58px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: -70%;
    overflow-y: auto;
    max-height: 140px;
    overflow-x: hidden;
}

    .chat-theme-tooltip-image::-webkit-scrollbar {
        width: 4px;
    }

    .chat-theme-tooltip-image::-webkit-scrollbar-track {
        background: #f1f1f1
    }

    .chat-theme-tooltip-image::-webkit-scrollbar-thumb {
        background: #888;
    }

    .chat-theme-tooltip-image::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

.theme-image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: 50% 50%;
    border: 2px solid white;
    margin-bottom: 5px;
}

    .theme-image img:hover {
        width: 43px;
        height: 43px;
    }

.select-theme-badge {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 24px;
}

.theme-image:hover .select-theme-badge {
    top: 23px;
    left: 27px;
}

.select-theme-badge i {
    text-align: center;
    font-size: 10px;
    vertical-align: super;
}