.singleEmoji:hover {
    background-color: #727272;
    padding: 1px 1px 1px 1px;
}

.singleEmoji {
    display: inline-flex;
    align-items: center;
    width: 30.7px;
    border-radius: 2px;
}

.hasEmojiSkin:hover {
    background-color: #727272;
    padding: 1px 1px 1px 1px;
}

.hasEmojiSkin {
    display: inline-flex;
    align-items: center;
    /*width: 1.4em;*/
    width: 30px;
}

.singleEmojiForTab:hover {
    background-color: #727272;
    padding: 1px 1px 1px 1px;
}

.singleEmojiForTab {
    display: inline-flex;
    align-items: center;
    width: 25px;
    border-radius: 2px;
}

.singleEmojiForDelete {
    width: 2.3em;
    margin: 1px 1px 1px 1px;
}

    .singleEmojiForDelete:hover {
        background-color: #727272;
        padding: 1px 1px 1px 1px;
    }

.singleEmojiForDeleteTooltip {
    position: relative;
    display: inline-block;
}

    .singleEmojiForDeleteTooltip .singleEmojiSkinForDelete {
        visibility: hidden;
        width: 46px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 10;
        bottom: 96%;
        left: 275%;
        margin-left: -111px;
    }

        .singleEmojiForDeleteTooltip .singleEmojiSkinForDelete::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

    .singleEmojiForDeleteTooltip:hover .singleEmojiSkinForDelete {
        visibility: visible;
    }

.tab-section {
    overflow-y: auto;
    overflow-x: hidden;
    height: 160px;
}

    .tab-section::-webkit-scrollbar {
        width: 8px;
    }

    .tab-section::-webkit-scrollbar-track {
        background: transparent;
    }

    .tab-section::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-clip: padding-box;
        background: #888;
    }

.emojiTabIcon {
    margin: 4px;
}

.emojiSearchTab {
    padding: 10px 6px 6px 6px;
    border-top: 1.5px solid whitesmoke;
    box-shadow: 0px -19px 36px -10px #8887BC;
    border-radius: 6px;
}

.emojiSearchInput {
    height: 25px;
    border-radius: 6px;
    padding: 10px;
}